body{
    background-color: #EEE;
}

.form-pergunta{
    max-width: 800px;
    margin-top: 5vh;
}

table {
    font-style: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #a1e2bc;
}

